[submodule "ExternalLib/VulkanMemoryAllocator"]
	path = ExternalLib/VulkanMemoryAllocator
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator.git
[submodule "ExternalLib/mathfu"]
	path = ExternalLib/mathfu
	url = https://github.com/google/mathfu.git
[submodule "ExternalLib/glfw"]
	path = ExternalLib/glfw
	url = https://github.com/glfw/glfw.git
[submodule "ExternalLib/taskflow"]
	path = ExternalLib/taskflow
	url = https://github.com/taskflow/taskflow.git
[submodule "ExternalLib/glm"]
	path = ExternalLib/glm
	url = https://github.com/g-truc/glm.git
[submodule "ExternalLib/llvm-project"]
	path = ExternalLib/llvm-project
	url = https://github.com/llvm/llvm-project.git
	branch = release/17.x
