[submodule "ExternalLib/VulkanMemoryAllocator"]
	path = ExternalLib/VulkanMemoryAllocator
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator.git
[submodule "ExternalLib/mathfu"]
	path = ExternalLib/mathfu
	url = https://github.com/google/mathfu.git
